@page
@using No1.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model No1.Web.Pages.Users.RegisterModalModel
@inject IStringLocalizer<No1Resource> L
@{
    Layout = null;
}


<form asp-page="/Users/RegisterModal">
    <abp-modal>
        <abp-modal-header title="@L["Register"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="ApplicationUser.FirstName" />
            <abp-input asp-for="ApplicationUser.LastName" />
            <abp-input asp-for="ApplicationUser.Email" />
            <abp-input asp-for="ApplicationUser.Password" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>