@page
@using Microsoft.AspNetCore.Mvc.Localization
@using No1.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model No1.Web.Pages.Cities.IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<No1Resource> L
@{
    var cities = L["Cities"].Value;
    var addNew = L["Add New"].Value;
    PageLayout.Content.Title = cities;
    //Layout = "_Layout";
    //Layout = null;
}
<!-- Add for Toast -->
<partial name="_Notification" />

@section scripts {
    <abp-script src="/Pages/Cities/Cities.js" />
}

<!-- Cities -->
<div class="container">
    <div class="d-flex align-items-center mb-3">
        <div>
            <h1 class="page-header mb-0">@cities</h1>
        </div>
        <div class="mt-3 ms-auto">
            <abp-button id="CreateButtonTop" text="@addNew" icon="plus" button-type="Primary" />
        </div>
    </div>

    <abp-card background="Light">
        <abp-card-header>
            <abp-row>
                <abp-column size-md="_6">
                    <abp-card-title>@cities</abp-card-title>
                </abp-column>
                <abp-column size-md="_6" class="text-end">
                    <abp-button id="CreateCityButton" text="@addNew" icon="plus" button-type="Primary" />
                </abp-column>
            </abp-row>
        </abp-card-header>
        <abp-card-body>
            <abp-table id="CitiesTable"></abp-table>
        </abp-card-body>
    </abp-card>
</div>